
@{
    ViewBag.Title = "onemenu";
}

<link href="~/Content/menu.css" rel="stylesheet" />

<section id="our_menu" class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page_title text-center mb-4">
                    <h1>menu</h1>
                    <div class="single_line"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="nav nav-tabs menu_tab mb-4" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="breakfast-tab" data-toggle="tab" href="#breakfast" role="tab">Bebidas </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="lunch-tab" data-toggle="tab" href="#lunch" role="tab">Comida Salada</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="dinner-tab" data-toggle="tab" href="#dinner" role="tab">Postres</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="tab-content col-lg-12" id="myTabContent">
                <div class="tab-pane fade show active" id="breakfast" role="tabpanel" aria-labelledby="breakfast-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="single_menu">
                                <img src="https://www.publicdomainpictures.net/pictures/10000/nahled/coffee-latte-11284391087Ksg2.jpg" alt="burger">
                                <div class="menu_content">
                                    <h4>Latte <span>$2.85</span></h4>
                                    <p>El café latte es el hermano mayor del capuchino, donde todo gira en torno a la espuma suave y sedosa..</p>
                                </div>
                            </div>
                            <div class="single_menu">
                                <img src="https://media.istockphoto.com/photos/coffee-picture-id145835173?k=20&m=145835173&s=612x612&w=0&h=nktH4Ntn9Sd4VrtXM8VCv4hWENnhE1dFwBvZNma0KcU=" alt="black coffee">
                                <div class="menu_content">
                                    <h4>Cafe Negro <span>$2.20</span></h4>
                                    <p>Un café negro largo está pensado para que disfrutes del sabor. Tradicionalmente se bebe sin leche.</p>
                                </div>
                            </div>
                            <div class="single_menu">
                                <img src="https://yourdiningcenter.com/wp-content/uploads/2016/11/what-is-a-caf%C3%A9-Americano.jpg" alt="Café Americano" />
                                <div class="menu_content">
                                    <h4>Cafe Americano  <span>$2.75</span></h4>
                                    <p>El café Americano es un espresso diluido en agua caliente para tratar de igualarlo en características a un café de filtro.</p>
                                </div>
                            </div>
                            <div class="single_menu">
                                <img src="https://images.freeimages.com/images/large-previews/cdc/coffee-mocha-1317730.jpg" alt="meat">
                                <div class="menu_content">
                                    <h4>Mocca  <span>$2.86</span></h4>
                                    <p>Un café moca es una variante del café con leche. Como este, suele llevar un tercio de expreso y dos tercios de leche vaporizada, pero se añade una parte de chocolate, normalmente en forma de jarabe de chocolate, aunque algunas máquinas usan chocolate en polvo instantáneo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single_menu">
                                <img src="https://img.freepik.com/foto-gratis/mocha-frappe-vaso-plastico_6351-1577.jpg" alt="burger">
                                <div class="menu_content">
                                    <h4>Frappe Mocha <span>$1.75</span></h4>
                                    <p> Colocar el hielo, la leche, el café, el Coffee mate y el agave en una licuadora; tapar. Licuar hasta que esté suave. Adornar con crema batida y canela molida. </p>
                                </div>
                            </div>
                            <div class="single_menu">
                                <img src="https://media-cdn.tripadvisor.com/media/photo-s/17/bb/2b/7e/caramel-amaretto-mocha.jpg" alt="black coffee">
                                <div class="menu_content">
                                    <h4>Frappe Amaretto <span>$1.55</span></h4>
                                    <p>El Amaretto es un licor con un sabor dulce muy aromático, preparadado a partir de almendras. Su combinación con el café da origen a un sabor y aroma inigualables.</p>
                                </div>
                            </div>
                            <div class="single_menu">
                                <img src="https://i2.wp.com/www.teacoffeecup.com/wp-content/uploads/2020/08/classic-espresso-con-panna.jpg?fit=550%2C367&ssl=1" alt="fried rice">
                                <div class="menu_content">
                                    <h4>Expreso Panna  <span>$1.70</span></h4>
                                    <p>Un caffè con panna o espresso con panna, que significa "espresso con crema" en italiano, es un café expreso pequeño o doble, generalmente ligero, cubierto con nata montada, y que tradicionalmente se sirve en demitasse.</p>
                                </div>
                            </div>
                            <div class="single_menu">
                                <img src="https://cdn.pixabay.com/photo/2018/12/03/21/40/cappuccino-3854326_960_720.jpg" alt="meat">
                                <div class="menu_content">
                                    <h4>Capuchino <span>$2.85</span></h4>
                                    <p>Un capuchino contiene expreso, vapor y espuma de leche a partes iguales. La taza de un capuchino es más pequeña que la taza del café latte, generalmente de 150 a 180 ml. El tamaño de la taza es muy importante para conseguir el equilibrio perfecto entre el sabor del expreso y la cantidad exacta de leche.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="lunch" role="tabpanel" aria-labelledby="lunch-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="single_menu">
                                <img src="https://st.depositphotos.com/1580652/4055/i/600/depositphotos_40558155-stock-photo-skillet-peperonni-pizza-on-table.jpg" alt="pizza">
                                <div class="menu_content">
                                    <h4> Pizza Personal  <span>$2.50</span></h4>
                                    <p>Pizza personales de jamón y queso, suprema, margarita ó pepperoni Descripción: Pizza personales congeladas con 8 pulgadas de diámetro.</p>
                                </div>
                            </div>
                            <div class="single_menu">
                                <img src="https://saboryestilo.com.mx/wp-content/uploads/2020/05/Hamburguesa-de-pavo-con-jalape%C3%B1o.jpg" alt="salad">
                                <div class="menu_content">
                                    <h4>Hamburguesa Jalapeña <span>$3.20</span></h4>
                                    <p>Si el picante es lo de ustedes entonces estas hamburguesas con jalapeños les van a encantar. La carne de la hamburguesa tiene jalapeños.</p>
                                </div>
                            </div>
                            <div class="single_menu">
                                <img src="https://img.freepik.com/foto-gratis/panini-jamon-queso-mesa-madera_2829-18905.jpg?w=2000" alt="green tea">
                                <div class="menu_content">
                                    <h4>Panini de Jamon <span>$1.20</span></h4>
                                    <p>El panini es una elaboración parecida a una pizza, pero en vez de utilizar masa de pizza, se utiliza pan para colocar por encima los ingredientes que queramos y luego gratinarlo todo en el horno.</p>

                                </div>
                            </div>
                            <div class="single_menu">
                                <img src="https://assets.unileversolutions.com/recipes-v2/219970.jpg" alt="meat">
                                <div class="menu_content">
                                    <h4>Sandwich de Atun <span>$1.35</span></h4>
                                    <p>El sándwich de atún es un tipo de sándwich muy popular, que usualmente se realiza con atún de lata, mayonesa y vegetales.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single_menu">
                                <img src="https://i.imgur.com/kbpceNv.jpg" alt="burger">
                                <div class="menu_content">
                                    <h4>hamburguesa de Pollo  <span>$3.40</span></h4>
                                    <p>Deliciosas hamburguesas 100% carne de pollos de primera calidad, criados en nuestras propias granjas para garantizar un producto excelente.</p>
                                </div>
                            </div>
                            <div class="single_menu">
                                <img src="https://cdn.queapetito.com/wp-content/uploads/2019/06/croissant-1-1-600x469.jpg" alt="black coffee">
                                <div class="menu_content">
                                    <h4>Croissant De jamon<span>$1.25</span></h4>
                                    <p>Un croissant elaborado con crujiente masa danesa, relleno de jamón y queso emmental y cubierto de crujiente queso emmental rallado..</p>
                                </div>
                            </div>
                            <div class="single_menu">
                                <img src="https://www.cocinayvino.com/wp-content/uploads/2016/08/34166598_l.jpg" alt="fried rice">
                                <div class="menu_content">
                                    <h4>Sandwich de Pollo <span>$1.15</span></h4>
                                    <p>El sándwich de pollo​ o emparedado de pollo que consiste en pechuga de pollo deshuesada y sin piel, sobre un bollo de hamburguesa, acompañado de condimentos y guarniciones.</p>
                                </div>
                            </div>
                            <div class="single_menu">
                                <img src="https://mui.kitchen/__export/1628600052768/sites/muikitchen/img/2021/08/10/papas-locas-2.jpg_842323379.jpg" alt="meat">
                                <div class="menu_content">
                                    <h4>Papas Locas  <span>$2.50</span></h4>
                                    <p>Las papas locas son una especie de comida rápida que consiste en papas fritas de cualquier tipo y se acompaña con mostaza, chile, orégano, distintos tipos de queso, ketchup o alguna ensalada. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="dinner" role="tabpanel" aria-labelledby="dinner-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="single_menu">
                                <img src="https://unareceta.com/wp-content/uploads/2017/05/crepes-de-nutella.jpg" alt="burger">
                                <div class="menu_content">
                                    <h4>Creppas Nutella <span>$3.00</span></h4>
                                    <p>los arrendatarios solían ofrecer crepas a sus terratenientes como un signo de lealtad y amistad. Esta es una anécdota para compartir cuando ofrezzcas deliciosas crepas con Nutella.</p>
                                </div>
                            </div>
                            <div class="single_menu">
                                <img src="https://cocinarrecetasdepostres.net/wp-content/uploads/2021/01/Crepes-Smore-cargadas-receta-facil-de-crepes.jpg" alt="black coffee">
                                <div class="menu_content">
                                    <h4>Creppas Malvavisco <span>$3.24</span></h4>
                                    <p>¡Las crepes Loaded S’more son las crepas dulces perfectas para postre! Siga esta receta fácil de crepas para hacer la masa y aprenda a hacerlas en casa, luego agregue su relleno de malvaviscos.</p>
                                </div>
                            </div>
                            <div class="single_menu">
                                <img src="https://buenprovecho.hn/wp-content/uploads/2019/01/Crepas-de-fresa-1.jpg" alt="fried rice">
                                <div class="menu_content">
                                    <h4>Creppas De Fresas <span>$3.23</span></h4>
                                    <p>Las crepas en otras palabras, son la versión francesa de los panqueques solo que más delgados. En esta ocasión hemos decidido disfrutarlas rellenos con fresa y bañadas en salsa de nutella. </p>
                                </div>
                            </div>
                            <div class="single_menu">
                                <img src="https://cdn2.cocinadelirante.com/sites/default/files/styles/gallerie/public/images/2020/04/receta-de-crepas-de-platano.jpg" alt="meat">
                                <div class="menu_content">
                                    <h4>Creppas de Banana <span>$3.25</span></h4>
                                    <p>Las crepes son una preparación francesa hecha a base de leche, huevos y harina. Resulta una receta muy versátil ya que se pueden hacer dulces o saladas.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single_menu">
                                <img src="https://cdn7.kiwilimon.com/recetaimagen/35448/960x640/42520.jpg.jpg" alt="burger">
                                <div class="menu_content">
                                    <h4>Tiramisu  <span>$2.80</span></h4>
                                    <p>El tiramisú es un postre italiano muy popular a nivel internacional hecho a partir de un ingrediente sólido y seco humedecido en café (normalmente una suerte de bizcocho), una crema preparada a partir de huevos batidos y azúcar que se extiende sobre los anteriores ingredientes y cacao espolvoreado por encima..</p>
                                </div>
                            </div>
                            <div class="single_menu">
                                <img src="https://recetasdemipais.com/wp-content/uploads/2022/03/Receta-de-budin-de-pan.jpg" alt="black coffee">
                                <div class="menu_content">
                                    <h4>Budin <span>$1.25</span></h4>
                                    <p>Comida dulce hecha con pan duro desmenuzado después de remojarlo en leche y huevo batido con gran dulce sabor </p>
                                </div>
                            </div>
                            <div class="single_menu">
                                <img src="https://irecetasfaciles.com/wp-content/uploads/2019/09/pastel-tres-leches.jpg" alt="fried rice">
                                <div class="menu_content">
                                    <h4>Tres Leches <span>$1.26</span></h4>
                                    <p>El Tres leches es un pastel húmedo y denso originario de Latinoamérica, bañado con una mezcla de tres leches: leche condensada, leche evaporada y crema para batir..</p>
                                </div>
                            </div>
                            <div class="single_menu">
                                <img src="https://static6.depositphotos.com/1066961/553/i/600/depositphotos_5534045-stock-photo-rice-pudding.jpg" alt="meat">
                                <div class="menu_content">
                                    <h4>Arroz de leche   <span>$1.50</span></h4>
                                    <p>El arroz con leche es un postre típico de la gastronomía de múltiples países hecho cociendo lentamente arroz con leche y azúcar. Se sirve frío o caliente. Se le suele espolvorear canela.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class=" menu_btn btn btn-danger">view more</a>
        </div>
    </div>
</section>

